<div id="content" class="container push-top">

  <div class="panel panel-primary push-top">

    <div class="panel-heading">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="h3">{{ title }}</h1>
        <a routerLink="/users">Back</a>
      </div>
    </div>

    <div class="panel-body">
      <form class="push-top" [formGroup]="userForm" novalidate>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="user_name" [(ngModel)]="user.name" #user_name/>
        </div>
        <div *ngIf="userForm.controls['user_name'].invalid && (userForm.controls['user_name'].dirty || userForm.controls['user_name'].touched)" class="alert alert-danger">
          <div *ngIf="userForm.controls['user_name'].errors.required">
            Name is required.
          </div>
        </div>

        <div class="form-group">
          <label>E-mail</label>
          <input type="text" class="form-control" formControlName="user_email" [(ngModel)]="user.email" #user_email/>
        </div>
        <div *ngIf="userForm.controls['user_email'].invalid && (userForm.controls['user_email'].dirty || userForm.controls['user_email'].touched)" class="alert alert-danger">
          <div *ngIf="userForm.controls['user_email'].errors.required">
            E-mail is required.
          </div>
        </div>

        <div class="form-group">
          <label>Phone</label>
          <input type="text" class="form-control" formControlName="user_phone" [(ngModel)]="user.phone" #user_phone/>
        </div>
        <div *ngIf="userForm.controls['user_phone'].invalid && (userForm.controls['user_phone'].dirty || userForm.controls['user_phone'].touched)" class="alert alert-danger">
          <div *ngIf="userForm.controls['user_phone'].errors.required">
            Phone is required.
          </div>
        </div>

        <div class="form-group">
          <button
            type="button"
            class="btn btn-success btn-block"
            [disabled]="userForm.pristine || userForm.invalid"
            (click)="updateUser(user_name.value, user_email.value, user_phone.value)">
            Update
          </button>
        </div>
      </form>
    </div>

  </div>

</div>
